---
const { testimony } = Astro.props;
---

<div class="testimony-card">
  <div class="testimony-head">
    <img
      src={testimony.testimonyHead.profilePic}
      alt="Foto de perfil"
      class="testimony-profile-pic"
    />
    <hgroup>
      <h1 class="name-age-pet">{testimony.testimonyHead.nameAgePet}</h1>
      <p class="lost-address">{testimony.testimonyHead.lostAddress}</p>
    </hgroup>
  </div>
  <div class="pet-image">
    <img
      src={testimony.testimonyBody.testimonyPic}
      alt="Imagen del testimonio"
      class="testimony-pic"
    />
    <p class="owner-thanks">{testimony.testimonyBody.ownerThanks}</p>
  </div>
  <div class="testimony-card-stats">
    <div class="views">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="svg-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
        ></path>
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
      </svg>
      <p class="views-number">{testimony.testimonyCardStats.viewsNumber}</p>
    </div>
    <div class="people">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="svg-icon"
      >
        <path
          fill-rule="evenodd"
          d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z"
          clip-rule="evenodd"></path>
        <path
          d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z"
        ></path>
      </svg>
      <p class="number-collaborations">
        {testimony.testimonyCardStats.numberCollaborations}
      </p>
    </div>
  </div>
</div>

<style>
  /* Estilo para las tarjetas de testimonio */
  .testimony-card {
    font-family: Montserrat, sans-serif;
    height: 600px;
    width: 400px;
    background-color: var(--color-celeste);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* Cabecera del testimonio */
  .testimony-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15px;
  }

  hgroup {
    width: 260px;
    padding: 10px 0 0 10px;
  }

  /* Imagen de perfil en la cabecera */
  .testimony-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  /* Estilo para el nombre y edad de la mascota */
  .name-age-pet {
    font-size: 20px;
    margin: 5px 0;
  }

  /* Estilo para la dirección donde se perdió la mascota */
  .lost-address {
    margin: 5px 0;
    font-size: 20px;
  }

  /* Cuerpo del testimonio */
  .pet-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Imagen del testimonio */
  .testimony-pic {
    width: auto;
    height: 300px;
    object-fit: fill;
  }

  /* Mensaje de agradecimiento del dueño */
  .owner-thanks {
    margin: 15px;
    font-size: 20px;
  }

  /* Estadísticas del testimonio */
  .testimony-card-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* Estilo para las vistas y colaboraciones */
  .views,
  .people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .views svg,
  .people svg {
    height: 25px;
    width: 25px;
  }

  /* Estilo para los números de vistas y colaboraciones */
  .views-number,
  .number-collaborations {
    padding-left: 20px;
  }
</style>
